@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
    @apply h-full;
}

body {
    @apply bg-gray-50;
}

#__next {
    @apply container mx-auto pt-12 pb-8;
}

@media print {
    @page {
      size: auto;
      margin: 0mm;
      width: 210mm;
      height: 842px;
      width: 595px;
      margin-left: auto;
      margin-right: auto;
    }
  
    body {
      padding-bottom: 5cm !important;
    }
  }